import { NgModule } from '@angular/core';
import { CommonModule } from '@angular/common';
import { <%= moduleName %>Component } from './components/<%= path %>.component';

@NgModule({
  imports: [
    CommonModule
  ],
  declarations: [
    <%= moduleName %>Component
  ],
  exports: [
    <%= moduleName %>Component
  ]
})
export class <%= moduleName %>Module { }
