import { Component, OnInit } from '@angular/core';

@Component({
  <% if(scope){ %>
  selector: '<%= scopeName %>-<%= path %>',
  <% } else { %>
  selector: 'app-<%= path %>',
  <% } %>
  template: `
    <p><%= moduleName %> works</p>
  `,
  styles: [``]
})
export class <%= moduleName %>Component implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}
